<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <h1>WealthM</h1>
        <div class="nav-links">
            <a href="#" id="logoutBtn">Logout</a>
        </div>
    </nav>

    <main class="container">
    <h2>Welcome To Your WealthM Account</h2>

    <div class="cards">
        <div class="card">
            <h3>Net Worth</h3>
            <p id="net_worth">$0.00</p>
        </div>

        <div class="card">
            <h3>Total Assets</h3>
            <p id="total_assets">$0.00</p>
        </div>

        <div class="card">
            <h3>Total Debts</h3>
            <p id="total_debt">$0.00</p>
        </div>
    </div>

</main>

    <script src="/static/dashboard.js?v=1.2"></script>
</body>