<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <h1>WealthM</h1>
        <div class="nav-links">
            <a href="#">Profile</a>
            <a href="#" id="logoutBtn">Logout</a>
        </div>
    </nav>

    <main class="container">
        <h2>Welcome To Your WealthM Account</h2>

        <div class="cards">
            <div class="card">
                <h3>Net Worth</h3>
                <p>$0.00</p>
            </div>

            <div class="card">
                <h3>Investments</h3>
                <p>$0.00</p>
            </div>

            <div class="card">
                <h3>Cash Balance</h3>
                <p>$0.00</p>
            </div>
        </div>
    </main>
    <script src="/static/dashboard.js"></script>
</body>